body {
    font-family: 'Big John', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #212529;
    background-color: #212529;
}

.title {
    font-size: 40pt;
    color: #F5FDC6;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 1%;
    text-decoration: underline dashed;
}

.btn-container {
    display: grid;
    margin-top: 10%;
    grid-template-columns: auto auto;
}

.hol-btn {
    padding: 200px 100px;
    background-color: #F5FDC6;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 100%;
    max-width: 50%;
    max-height: 50%;
    margin: auto;
    margin-top: 20%;
    transition: font-size ease-in-out 0.35s, ease-in-out 0.35s, background-color ease-in-out 0.4s, box-shadow 1s, text-shadow ease-in-out 0.5s;
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.hol-btn.h1:hover {
    font-size: 50pt;
    background-color: #4361EE;
    color: #F5FDC6;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.3);
    text-shadow: 3px 3px 4px #212529;
}