<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.cdnfonts.com/css/big-john" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js"></script>
    <title>Higher / Lower</title>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.confetti').forEach(function(btn) {
                btn.addEventListener('click', function() {
                    for (let i = 0; i < 20; i++) {
                        confetti({
                            particleCount: 100,
                            startVelocity: 30,
                            spread: 360,
                            origin: {
                                x: Math.random(),
                                y: Math.random() - 0.2
                            }
                        });
                    }
                });
            });
        });
    </script>
</head>
<body>
<div class="user-info" style="background: green; color: white; padding: 10px; font-size: 20px;">
    Welcome, {{ user_name }}! 
    <a href="{{ url_for('reset_name') }}">Change Name</a>
</div>
    <div class="headers-container">
        <form method="post" action="{{ url_for('new_game') }}">
            <h1 class="title" style="cursor: pointer;"><div class="title-button"><button type="submit">New Game</button></div></h1>
        </form>
        <h1 class="title center">Higher <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">&nbsp;/&nbsp;</a> Lower</h1>
        <h1 class="title" style="cursor: pointer;"><div class="confetti title-button">Confetti!</div></h1>
    </div>
    
    {% if result %}
        <h1 class="title">{{ result }}</h1>
    {% endif %}


<div class="btn-container">
    <form method="post" action="{{ url_for('increment') }}">
        <input type="hidden" name="button" value="left">
        <button style="--button1-bg: url('{{ button1_background }}');" class="hol-btn1 h1">
            <b> {{ button1_text }} &#128071; </b>
        </button>
    </form>
    
    <form method="post" action="{{ url_for('increment') }}">
        <input type="hidden" name="button" value="right">
        <button style="--button2-bg: url('{{ button2_background }}');" class="hol-btn2 h1">
            <b> {{ button2_text }} &#128070; </b>
        </button>
    </form>
</div>


    <!-- P A K L A T -->
</body>
</html>