<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Test Page</title>
</head>
<body>
    <h1>Test Page</h1>
    <p>This is a test page to verify the CSS styling.</p>
    <p>Check the styles applied to this page.</p>
    <div class="test">
        <h2><a class="button" href="../"> Go Back</a></h2>
        <p>This is a test section to demonstrate the use of CSS in Flask.</p>
        </div>
    </div>
</body>
</html>